# Documentations
/docs

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Cache directories
.npm
.eslintcache
.yarn-integrity

# testing
/coverage

# next.js
/.next/
/out/

# yarn 
yarn.lock